<!--<mat-card class="example-card my-3" @fade>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="productItem.imageUrl" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        {{productItem.description}}
      </p>
      <p>
        <strong>{{ productItem.price |currency}}</strong>
        <i *ngIf="addedTowishlist" class="fas fa-heart float-right" (click)="handleRemoveFromwishlist()"></i>
        <i *ngIf="!addedTowishlist" class="far fa-heart float-right" (click)=" handleAddTowishlist()"></i>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="handleAddToCart()" @fade ><a href="https://forms.gle/tfUd1Fa9UK2S3oiX7" style="text-decoration:none ;">Shop now</a> </button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>-->