<div class="container">
    <h1 class="text-center">Shopping Cart</h1>

<div *ngIf="cartItems.length ===0" class="alert alert-info">Your cart is empty</div>


    <ul *ngIf="cartItems.length >  0" class="list-group mt-5" >
        <li class="list-group-item" *ngFor="let item of cartItems"  style="background-color: grey;">
            <app-cart-item [cartItem]="item"></app-cart-item>
        </li>
    
        <li class="list-group-item active">
            <strong>Total: {{cartTotal| currency}}</strong>
        </li>
    </ul>
</div>



